.multi-ellipsis(@lines) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: @lines;
	/* autoprefixer: ignore next */
	-webkit-box-orient: vertical;
}

.ellipsis() {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.clearfix() {
	&::after {
		display: table;
		clear: both;
		content: '';
	}
}

.hairline-common() {
	position: absolute;
	box-sizing: border-box;
	content: ' ';
	pointer-events: none;
}

.hairline(@border-color: #ebedf0) {
	.hairline-common();

	top: -50%;
	right: -50%;
	bottom: -50%;
	left: -50%;
	border: 0 solid @border-color;
	transform: scale(0.5);
}

.hairline-bottom(@border-color: #ebedf0, @left: 0) {
	.hairline-common();

	right: 0;
	bottom: 0;
	left: @left;
	border-bottom: 1px solid @border-color;
	transform: scaleY(0.5);
}

.font-size(@var: @f14){
	font-size: @var;
}

.margin-size(@top, @right: @top, @bottom: @top, @left: @right) {
	margin: @top @right @bottom @left;
}

.padding-size(@top, @right: @top, @bottom: @top, @left: @right) {
	padding: @top @right @bottom @left;
}

.flex(@num){
	flex: @num;
}

.background-common(@w, @h: @w) {
	background-repeat: no-repeat;
	background-position: center;
	background-size: @w @h ;
}

.btn-select(@w,@h,@select) when (@select = true) {
	width:@w;
	height:@h;
	background:linear-gradient(135deg,rgba(85,122,244,1) 0%,rgba(114,79,255,1) 100%);
	border-radius:@h/2;
	color:#fff;
	text-align: center;
	line-height: @h;
}
.btn-select(@w,@h,@select) when (@select = false) {
	width:@w;
	height:@h;
	border-radius:@h/2;
	border:1px solid @color-ec;
	color:@color-ec;
	text-align: center;
	line-height: @h;
}
.btn-select-default(@w,@h,@select) when (@select = false) {
	width:@w;
	height:@h;
	border-radius:@h/2;
	// border:1px solid @color-ec;
	background: @color-ec1;
	color:@color-ec;
	text-align: center;
	line-height: @h;
}
.btn-gray(@w,@h) {
	width:@w;
	height:@h;
	background:linear-gradient(322deg,rgba(238,236,255,1) 0%,rgba(216,212,255,1) 100%);
	border-radius:@h/2;
	color:@color-ec;
	text-align: center;
	line-height: @h;
	font-family:PingFangSC-Medium,PingFang SC;
	font-size:14px;
}