.van-tabs__line {
	background-color: @blue;
}

.van-icon-success{
	width: 40px;
	height: 40px;
	background: url('../../images/app/success.png') no-repeat center;
	background-size: 40px;
	&::before{
		content: '';
	}
}
