// panel bg
@background-color : #f8f8f8;
@white: #ffffff;
@red: #FF4E5E;
//
@text-black: #000000;

@title-color: #8F8F8F;
@sub-title-color: #BEBEBE;
@label-color: #3A3A3A;
@title-status: #07C060;


@default-background: #FCFCFC;
@active-background: #E2F0FF;

@default-color:#5F5F5F;
@active-color: #3795F3;

@default-border:#EDEDED;
@active-border: #BCDEFF;

@button-color: #50A9FD;

@placeholder-color:#BBBBBB;

@verify-border: #B8DCFF;
@verify-bg: #E3F1FF;



@text-title-color : rgb(56, 56, 60, 1);
@text-sub-color: #9B9BA1;
@text-white: #FFFFFF;
@text-red: #F49542;
@text-empty: #CACACD;
@text-link-color: rgba(0, 0, 0, .5);


@button-blue: #5D8BFF;
@button-blue-opacity: rgba(136, 180, 255, 0.4);

@bg-enter: #3a82f8;
@background-sub-color: #F7F7FA;
@background-white: #ffffff;
@background-blue: rgba(130, 180, 255, 0.4);
@card-background-color: rgba(255, 255, 255, 0.8);
@his-background-color:rgba(255, 255, 255, 0.7);
@cover-background-color: rgba(0, 0, 0, .4);
@header-bg-color: rgba(255, 255, 255, 0);
@opacity-bg-color: rgba(56, 56, 60, 0.5);
//
@border-color: #E5E5E5;
@button-border-color: #DFDFDF;
@border-split: #4D4D4D;

@opacity-border-color: rgba(0, 0, 0, 0.05);

//字体和line-height大小
@f32: 32px;
@f30: 30px;
@f28: 28px;
@f26: 26px;
@f24: 24px;
@f22: 22px;
@f20: 20px;
@f18: 18px;
@f16: 16px;
@f14: 14px;
@f12: 12px;

//页面头部的高度
@page-header-height: 0px;
@page-sroll-top-height: 178px;
// 安全边距
@safe-width: 12px;

// vant 组件库中的样式变量  ========
// Basic Colors
@black: #000;
@white: #fff;
@red: #f44;
@blue: #1989fa;
@orange: #ff976a;
@orange-dark: #ed6a0c;
@yellow: #efb91d;
@orange-light: #fffbe8;
@green: #07c160;
@gray: #c8c9cc;
@gray-light: #e5e5e5;
@gray-darker: #7d7e80;
@gray-dark: #969799;

// Component Colors
@text-color: #323233;
@border-color: #ebedf0;
@active-color: #f2f3f5;
@background-color: #f8f8f8;
@background-color-light: #fafafa;

//margin & padding
@base: 5px;
@xs: @base * 2;
@sm: @base * 3;
@md: @base * 5;
@lg: @base * 6;
@xl: @base * 8;

// Font Size
@font-size-xs: 10px;
@font-size-sm: 12px;
@font-size-md: 14px;
@font-size-lg: 16px;
@font-size-icon: 32px;

// Animation
@animation-duration-base: .3s;
@animation-duration-fast: .2s;

// Border
@border-color: #ebedf0;
@border-width-base: 1px;
@border-radius-sm: 2px;
@border-radius-md: 4px;
